@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-foreground via-accent to-secondary bg-clip-text text-transparent;
  }
}